* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #edecdb;
}

h1, h2, h3, h4, h5, h6 {
    color: #e6748e;
}

p, label {
    color: rgb(83, 43, 8);
}

input {
    border: none;
    border-bottom: 1px solid #6bb1ad;
    padding: 10px 0;
    border-radius: 5px;
    background-color:#edecdb;
    color: rgb(66, 35, 6);
}

input::placeholder {
    color: black;
}

textarea::placeholder {
    color: black;
}
input[type="text"], input[type="number"], input[type="date"], input[type="file"], textarea {
    width: 400px;

}
 textarea {
    padding: 10px 5px;
 }

.cabecalho {
    height: 160px;
    padding: 20px;
    background-color: #6bb1ad;
}

.cabecalho h3 {
    color: #edecdb;
    margin-top: 0;
}

.form-container {
    background-color:#e5a9a9;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -46px;
}

.form-header {
    border-bottom: 1px solid white;
    height: 45px;
}

.form-header p {
    color: #e6748e;
    border-bottom: 2px solid white;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    list-style: 45px;
}

.form-body {
    padding: 30px;
}

.titulo_form {
    margin-bottom: 15px;
}

.form-body p {
    margin-bottom: 20px;
}

.campo-obrigatorio {
    color: rgb(255, 0, 0);
}

.caixaInputs {
    margin-bottom: 35px;
}

.block {
    display: block;
}

.caixaOpcional {
    display: inline-block;
    margin: 0 30px 0 30px;
}

.caixaOpcional li {
    list-style: none;
    margin-bottom: 5px;
}

.btn-submit {
    background-color:#e6748e;
    color: aliceblue;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-submit:hover {
    background-color:#6bb1ad;
    color: white;
    border-color: white;
}

hr {
    margin-top: 20px;
    height: 3px;
    background: linear-gradient(to right, transparent,#6bb1ad, transparent);
    margin: 20px 0;
    border: none;
}

#listaCarros {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 250px;
    background-color:#edecdb;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 20px 5px #e6748e
}