* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 216, 237);
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(206, 4, 138);
}

p, label {
    color: rgb(0, 0, 0);
}

input {
    border: none;
    border-bottom: 1px solid rgb(218, 38, 143);
    padding: 10px 0;
}
input[type="text"], input[type="number"], input[type="date"], input[type="file"], textarea {
    width: 400px;

}
 textarea {
    padding: 10px 5px;
 }

.cabecalho {
    height: 160px;
    padding: 20px;
    background-color: rgb(224, 69, 154);
}

.cabecalho h3 {
    color: rgb(218, 0, 109);
    margin-top: 0;
}

.form-container {
    background-color: rgb(255, 216, 237);
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -46px;
}

.form-header {
    border-bottom: 1px solid white;
    height: 45px;
}

.form-header p {
    color: rgb(207, 6, 90);
    border-bottom: 2px solid white;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    list-style: 45px;
}